# Compilados de Java
*.class

# Diretórios de compilação
/bin/
/build/

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.swo
*~

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# IDEs - IntelliJ
.idea/
*.iml
*.iws
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Arquivos de backup
*.bak
*.orig